<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
<title>Jendrix Accounts</title>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
	name='viewport' />
<meta name="viewport" content="width=device-width" />

<link rel="apple-touch-icon" sizes="76x76"
	th:href="@{/creative-tim/assets/img/apple-icon.png}" />
<link rel="icon" type="image/png"
	th:href="@{/creative-tim/assets/img/favicon.png}" />
<!-- Bootstrap core CSS -->
<link th:href="@{/creative-tim/assets/css/bootstrap.min.css}"
	rel="stylesheet" />
<!-- Material Dashboard CSS -->
<link
	th:href="@{/creative-tim/assets/css/material-dashboard.css?v=1.2.0}"
	rel="stylesheet" />
<!-- Fonts and icons -->
<link
	href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
	rel="stylesheet" />
<link
	href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons'
	rel='stylesheet' type='text/css' />

</head>

<body>
	<div class="wrapper">
		<!-- +++++++++++++++++++++ -->
		<!-- MENU LATERAL IZQUIERDO-->
		<!-- +++++++++++++++++++++ -->
		<div class="sidebar" data-color="blue" th:fragment="menu" >
			<!--
        	Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
    		-->
			<div class="logo" style="background-color: #000000d1;
    box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 8px 4px 20px -10px rgba(0, 0, 0, 1.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);">
				<span class="simple-text" style="color:white;">Jendrix Accounts</span>
			</div>

			<div class="sidebar-wrapper" style="background-color: #252525f0;">
				<ul class="nav">
					<li th:class="${view.menu=='DASHBOARD'? 'active': ''}"><a href="#"
						th:href="@{/dashboard/main}"> <i class="material-icons">dashboard</i>
							<p style="color: white;">Dashboard</p>
					</a></li>
					<li th:class="${view.menu=='APLICACIONES'? 'active': ''}"><a
						th:href="@{/aplicaciones/main}"> <i class="material-icons">apps</i>
							<p style="color: white;">Aplicaciones</p>
					</a></li>
					<li th:class="${menu=='CUENTAS'? 'active': ''}"><a href="#"
						th:href="@{/cuentas/main}"> <i class="material-icons">person</i>
							<p style="color: white;">Cuentas</p>
					</a></li>
					<li th:class="${view.menu=='INVITACIONES'? 'active': ''}">
						<a th:href="@{/invitaciones/main}"> <i
							class="material-icons">content_paste</i>
							<p style="color: white;">Invitaciones</p>
					</a></li>
					
					<li>
						<a th:href="@{/logoutApp}" >  <i class="material-icons">exit_to_app</i>
							<p style="color: white;">Cerrar Sesi&oacute;n</p>
						</a>
					</li>					
				</ul>
			</div>
		</div>

		<div class="main-panel">

			<!-- +++++++++++++++++++++ -->
			<!-- HEARDER DE LA PAGINA  -->
			<!-- +++++++++++++++++++++ -->
			<section th:fragment="header">
				<nav class="navbar navbar-transparent navbar-absolute" style="background-color: #dcdee0; border-radius: 0px;">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle"
								data-toggle="collapse">
								<span class="sr-only">Toggle navigation</span> <span
									class="icon-bar"></span> <span class="icon-bar"></span> <span
									class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="#"> <span th:text="${view.title}"> </span> </a>
						</div>
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav navbar-right">
								<li>
									<h4 class="title">
										<span th:text="${username}"> </span>
									</h4>
								</li>
								<li>
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="material-icons">person</i>
										<p class="hidden-lg hidden-md">Profile</p>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</section>

			<div class="content">
				<div class="container-fluid"></div>
			</div>

			<!-- +++++++++++++++++++++ -->
			<!-- FOOTER                -->
			<!-- +++++++++++++++++++++ -->
			<footer class="footer" th:fragment="footer">
				<div class="container-fluid">
					<p class="copyright pull-right">
						&copy;
						<script>
							document.write(new Date().getFullYear())
						</script>
						<a href="http://www.creative-tim.com">Creative Tim</a>, made with
						love for a better web
					</p>
				</div>
				<!--   Core JS Files   -->
				<script th:src="@{/creative-tim/assets/js/jquery-3.2.1.min.js}"
					type="text/javascript"></script>
				<script th:src="@{/creative-tim/assets/js/bootstrap.min.js}"
					type="text/javascript"></script>
				<script th:src="@{/creative-tim/assets/js/material.min.js}"
					type="text/javascript"></script>
				<!--  Charts Plugin -->
				<script th:src="@{/creative-tim/assets/js/chartist.min.js}"
					type="text/javascript"></script>
				<!--  Dynamic Elements plugin -->
				<script th:src="@{/creative-tim/assets/js/arrive.min.js}"
					type="text/javascript"></script>
				<!--  PerfectScrollbar Library -->
				<script
					th:src="@{/creative-tim/assets/js/perfect-scrollbar.jquery.min.js}"
					type="text/javascript"></script>
				<!--  Notifications Plugin    -->
				<script th:src="@{/creative-tim/assets/js/bootstrap-notify.js}"
					type="text/javascript"></script>
				<!--  Google Maps Plugin    -->
				<script
					src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"
					type="text/javascript"></script>
				<!-- Material Dashboard javascript methods -->
				<script
					th:src="@{/creative-tim/assets/js/material-dashboard.js?v=1.2.0}"
					type="text/javascript"></script>
			</footer>

		</div>
	</div>
	
</body>

</html>