<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"/>
<body>
	<div class="wrapper">
		<div th:replace="layout/layout :: menu"></div>
		<div class="main-panel">
			<section th:replace="layout/layout :: header"></section>

			<div class="content">
				<div class="container-fluid">

					<div th:if="${status=='OK'}" class="alert alert-success"
						role="alert">${success}</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="card">
								<div class="card-header" data-background-color="gray">
									<div class="row">
										<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="height:32px;">
										<h4 class="title">Aplicaciones</h4>
										</div>
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="height:32px;">
											<a th:href="@{/aplicaciones/add}">
												<i class="material-icons" style="color: white;">add</i>
											</a>
										</div>			
									</div>					
								</div>
								<div class="card-content table-responsive" style="border: 0px;">
									<table class="table table-hover">
										<thead class="text-warning">
											<th>Nombre</th>
											<th>C&oacute;digo</th>
											<th>Vigencia Desde</th>
											<th>Opciones</th>
										</thead>
										<tbody>
											<tr th:each="aplicacion : ${aplicacionList}">
												<td th:text="${aplicacion.nombre}"></td>
												<td th:text="${aplicacion.codigo}"></td>
												<td th:text="${aplicacion.vigenciaDesde}"></td>
												<td class="td-actions text-right"><a
													th:href="@{/aplicaciones/edit?id=__${aplicacion.id}__}">
														<button type="button" rel="tooltip" title="Edit Task"
															class="btn btn-primary btn-simple btn-xs">
															<i class="material-icons">edit</i>
														</button>
												</a> <a
													th:href="@{/aplicaciones/delete?id=__${aplicacion.id}__}">
														<button type="button" rel="tooltip" title="Remove"
															class="btn btn-danger btn-simple btn-xs">
															<i class="material-icons">close</i>
														</button>
												</a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<footer th:replace="layout/layout :: footer"></footer>
		</div>
	</div>
</body>

</html>