<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<div class="wrapper">	
		<div th:replace="layout/layout :: menu"> </div>
        <div class="main-panel">
            <section th:replace="layout/layout :: header"></section>
            
			<div class="content">
				<div class="container-fluid">

					<div th:if="${status=='ERROR'}" class="alert alert-danger"
						role="alert"> <p th:text="${error}"></p> </div>
				
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="gray">
                                    <h4 class="title">Aplicaci&oacute;n</h4>
                                </div>
                                <div class="card-content">
									<form th:action="@{/aplicaciones/save}" th:object="${aplicacion}" method="post">
									
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div class="form-group label-floating">
                                                    <label for="app_nombre" class="control-label">Nombre</label>
                                                    <input id="app_nombre" type="text" class="form-control" th:field="*{nombre}" th:value="${nombre}" />
                                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">C&oacute;digo</label>
													<input type="text" class="form-control" th:field="*{codigo}" th:value="${codigo}" />
                                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Descripci&oacute;n</label>
													<input type="text" class="form-control" th:field="*{descripcion}" th:value="${descripcion}" />
                                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Vigencia Desde</label>
													<input type="text" class="form-control" th:field="*{vigenciaDesde}" th:value="${fechaDesde}" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Vigencia Hasta</label>
													<input type="text" class="form-control" th:field="*{vigenciaHasta}" th:value="${vigenciaHasta}" />
                                                </div>
                                            </div>
                                        </div>

										<button class="btn btn-success" type="submit">
											<i class="material-icons">done</i><span>Confirmar</span>
										</button>
										<a th:href="@{/aplicaciones/cancel}" class="btn btn-danger">
											<i class="material-icons">clear</i><span>Cancelar</span>
										</a>
										
										 
									</form>
								</div>		
							</div>
						</div>
					</div>
				</div>
			</div>

            <footer th:replace="layout/layout :: footer"></footer>
		</div>
	</div>
</body>
</html>
