<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<div class="wrapper">	
		<div th:replace="layout/layout :: menu"> </div>
        <div class="main-panel">
            <section th:replace="layout/layout :: header"></section>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                             <a href="#" th:href="@{/rest/checkRest}" class="btn btn-primary active" >
                                 <span>Check REST request!</span>
                             </a>
                    
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                    </div>
                </div>
            </div>
            <footer th:replace="layout/layout :: footer"></footer>
		</div>
	</div>
</body>
</html>
