<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Jendrix Accounts</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="all,follow" />
    
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="#" th:href="@{/theme/css/bootstrap.min.css}" />
    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700" />
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="#" th:href="@{/theme/css/style.default.css}" id="theme-stylesheet" />
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="#" th:href="@{/theme/css/custom.css}" />
    <!-- Favicon-->
    <link rel="shortcut icon" href="#" th:href="@{/theme/img/favicon.ico}"/>
    <!-- Font Awesome CDN-->
    <!-- you can replace it by local Font Awesome-->
    <script src="https://use.fontawesome.com/99347ac47f.js"></script>
    <!-- Font Icons CSS-->
    <link rel="stylesheet" href="https://file.myfontastic.com/da58YPMQ7U5HY8Rb6UxkNf/icons.css"/>
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="page login-page">
      <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
          <div class="row">
            <!-- Logo & Information Panel-->
            <div class="col-lg-6">
              <div class="info d-flex align-items-center">
                <div class="content">
                  <div class="logo">
                    <h1>Jendrix Accounts</h1>
                  </div>
                  <p>Administración central de cuentas de usuarios para las aplicaciones de Jendrix Software.</p>
                </div>
              </div>
            </div>
            <!-- Form Panel    -->
            <div class="col-lg-6 bg-white">
              <div class="form d-flex align-items-center">
                <div class="content">
                  <form id="login-form" method="post" th:action="@{/loginCheck}" >
					<input type="hidden" name="${_csrf.parameterName_}" value="${_csrf.tocken_}" />
        			<div th:if="${error != null}" class="alert alert-danger" role="alert">Invalid username or password</div>
                  
                    <div class="form-group">
                      <input id="username" type="text" name="username" required="true" class="input-material" />
                      <label for="username" class="label-material">User Name</label>
                    </div>
                    <div class="form-group">
                      <input id="password" type="password" name="password" required="true" class="input-material" />
                      <label for="password" class="label-material">Password</label>
                    </div>
                    <button class="btn btn-primary" type="submit">Ingresar</button>
                  </form>
                  <br/>
                  <a href="#" class="forgot-pass">Forgot Password?</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyrights text-center">
        <p>Design by <a href="https://bootstrapious.com/admin-templates" class="forgot-pass">Bootstrapious</a> &amp; <a href="" class="forgot-pass">Jendrix Software</a></p>
      </div>
    </div>
    <!-- Javascript files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="#" th:src="@{/theme/js/tether.min.js}"></script>
    <script src="#" th:src="@{/theme/js/bootstrap.min.js}"></script>
    <script src="#" th:src="@{/theme/js/jquery.cookie.js}"> </script>
    <script src="#" th:src="@{/theme/js/jquery.validate.min.js}"></script>
    <script src="#" th:src="@{/theme/js/front.js}"></script>
  </body>
</html>